.page {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  color: white;
  max-width: 100vw;
  /*max-height: 100vh;*/
  margin: 0;
  padding: 0;
}

/*
@media screen and (min-width: 768px) {
.page {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  color: white;
  max-width: 984px;
  max-width: 80vw;
}
*/

