@import url(./__item/photo-grid__item.css);

.photo-grid {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(3, fit-content(300px));
  grid-gap: 14px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .photo-grid {
  grid-template-columns: repeat(4, fit-content(284px));
  grid-gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, fit-content(352px));
    grid-gap: 16px;
   }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(1, fit-content(288px));
    grid-gap: 12px;
   }
}
