.places {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 92px 48px 0 48px;
}

@media screen and (min-width: 1280px) {
  .places {
    padding-left: 148px;
    padding-right: 148px;
  }
 }

@media screen and (max-width: 768px) {
  .places {
    padding: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding-top: 64px;
  }
}
