@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragrapf.css);
@import url(./__website/place__website.css);

/*.place {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 440px, auto;
  grid-gap: 32px 48px;
}*/

.place {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
}
