@import url(./__links/header__links.css);
@import url(./__link/header__link.css);
@import url(./__logo/header__logo.css);

.header {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: 28px 48px 48px;
  margin: 0;
  align-items: flex-end;
  }

 @media screen and (min-width: 1280px) {
  .header {
    padding-bottom: 56px;
   }
  }

  @media screen and (max-width: 768px) {
    .header {
      padding: 28px 24px 48px;
  }
 }

 @media screen and (max-width: 480px) {
  .header {
    padding: 16px 16px 48px;
   }
   .header__links {
    font-size: 18px;
    line-height: 1.5;
   }
   .header__logo {
    width: 142px;
    height: 42px;
  }
 }




