.place__text {
  grid-area: text;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-width: 50%;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .place__text {
      padding: 32px 0 0;
  }
}
