.footer__link {
  color: white;
  text-decoration: none;
  margin: 0 18px 0 0;
  padding: 0;
}

.footer__link:hover {
  opacity: 0.8;
  cursor: url("../../../images/Pointer.svg"), auto;
}

@media screen and (max-width: 570px) {
  .footer__link {
    display: block;
    margin-bottom: 32px;
  }
}
