.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 780px) {
  .footer__copyright {
    padding: 16px 0 0;
    font-size: 14px;
    line-height: 1;
  }
}

@media screen and (max-width: 570px) {
  .footer__copyright {
    padding: 16px 0 0;
    font-size: 14px;
    line-height: 1;
  }
}
