.lead__image {
  background-image: url(../../../images/lead-polka.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*
  @media screen and (min-width: 1280px) {
  .lead__image {
   min-width: calc(100% - 148px*2);
  }
}

@media screen and (max-width: 1000px) {
  .lead__image {

    min-height: 350px;
  }
}

  @media screen and (max-width: 768px) {
    .lead__image {
      max-width: 100vw;

      min-height: 250px;
    }
  }

  @media screen and (max-width: 320px) {
    .lead__image {
       min-width: 320px;
       min-height: 200px;
      }
  }
  */
