.lead__image {
  box-sizing: border-box;
  background-image: url(../../../images/lead-polka.jpg);
  min-height: 160px;
  max-height: 615px;
  min-width: 260px;
  max-width: 984px;
  width: 100%;
  padding: 180px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
