@import url(../intro/__title/intro__title.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__list/intro__list.css);

.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0 0 0 48px;
}

@media screen and (min-width: 1280px) {
  .intro {
    padding-left: 148px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px;
  }
  .intro__title {
    padding-top: 88px;
  }
  .intro__list {
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 480px) {
  .intro__title {
    font-size: 48px;
  }
}

@media screen and (max-width: 400px) {
  .intro {
    padding: 0 16px;
  }
  .intro__title {
    font-size: 32px;
    padding-top: 64px;
  }
  .intro__list {
    padding-bottom: 64px;
  }
}
