@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__link/cover__link.css);

.cover {
  background-image: url(../../images/cover-trains.jpg);
  min-height: 100vh;
  height: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.cover:hover .cover__overlay {
  background-color: rgba(42, 44, 47, .8);
}
