.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: white;
  text-decoration: underline;
}

.place__link:hover {
  opacity: .8;
  cursor: url("../../../images/Pointer.svg"), auto;
}
