.lead__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0;
    padding: 8px 0 0;
    align-self: flex-start;
  }

  @media screen and (max-width: 968px) {
    .lead__caption {
      padding-left: 24px;
    }
  }

  @media screen and (max-width: 400px) {
    .lead__caption {
      padding-left: 16px;
    }
  }
