.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.12;
  padding: 0 0 32px 0;
  margin: 0;
  text-align: center;
  max-width: 560px;
  width: 100%;
  color: white;
}

.cover__title:hover .cover__overlay {
  background-color: rgba(42, 44, 47, .8);
}
