@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__text/place__text.css);
@import url(./__website/place__website.css);

.place {
  display: grid;
  box-sizing: border-box;
  grid-gap: 32px 48px;
  grid-template-columns: fit-content(440px) 1fr;
  grid-template-rows: fit-content(100%) minmax(min-content, max-content);
  grid-template-areas:
    "title website"
    "image text";
  padding: 0 0 80px 0;
  justify-content: start;
  align-content: start;
  align-items: start;
  justify-items: start;
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: fit-content(460px) 1fr;
    grid-column-gap: 40px;
  }
  .place__image {
    min-width: 460px;
  }
 }

@media screen and (max-width: 780px) {
  .place {
    grid-template-columns: fit-content(340px) 1fr;
    grid-column-gap: 28px;
    padding-bottom: 72px;
  }
  .place__image {
    min-width: 340px;
  }
}

@media screen and (max-width: 640px) {
  .place {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 48px;
  }
  .place__title {
    font-size: 42px;
    }
  .place__text {
      padding: 32px 0 0;
  }
  .place__image {
    min-width: 100%;
  }
  .place__paragraph {
    font-size: 16px;
  }
  .place__website {
    z-index: -1;
  }
}
