.place__website {
  grid-area: website;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100%;
  justify-content: flex-end;
  align-content: flex-end;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .place__website {
    display: none;
  }
}
